#head-component {
    /*border: 1px solid black;*/
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
    margin: 0;
    width: 15%;
    color: white;
}

.head-tag {
    padding: 13px;
}

.head-tag:hover {
    background-color: #219189;
}