#login-component {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#login-box {
    /*border: 1px solid blue;*/
    width: 30em;
    height: 100%;
    margin: 10em auto;
    padding: 0;
}

#login-box-header {
    /*border: 1px solid black;*/
    padding: 0;
    width: 100%;
    height: 20%;
    text-align: center;
}

.letter_tofu {
    color: #d95763;
}
.letter_cat {
    color: #249365;
}
.letter_toolkit {
    color: #317bff;
}

#login-box-body {
    width: 100%;
    height: 70%;
    padding: 0 0;
}

.form-group {
    border-bottom: 1px solid white;
    width: 50%;
    height: 100%;
    margin: 2em auto;
    padding: 0;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.form-group:hover {
    border-bottom: 1px solid orange;
    width: 60%;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #fff;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #fff;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff ;
}

.form-control {
    background-color: lightseagreen;
    border: lightseagreen;
    outline: none;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.btn-primary {
    border: white;
    background-color: lightseagreen;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-primary:hover {
}

#login-box-foot {
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 10%;
}

#login-box-foot a {
    color: white;
}