/* content */

/* nav */
.example-spacer {
    flex: 1 1 auto;
}

.div-button {
    width: 10em;
    padding:20px;
    text-align: center;
}

.div-button:hover {
    background-color: #229b93;
    width: 10em;
    padding:20px;
    text-align: center;
}
mat-toolbar {
    background-color: lightseagreen;
}

mat-drawer {
    background-color: lightseagreen;
    height: 100%;
    color: white;
}

mat-drawer-content {
    background-color: lightseagreen;
    height: 100%;
}