<mat-tab-group animationDuration="0">
    <mat-tab label="{{list.tm.tag}}" *ngFor="let list of navList">
        <mat-drawer-container>
            <mat-drawer mode="side" opened>
                <div class="div-button no-select" *ngFor="let side of list.sn">
                    {{side.tag}}
                </div>
            </mat-drawer>
            <mat-drawer-content>
                this is {{list.tm.tag}}
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-tab>
</mat-tab-group>
